<div class="header">
    <h1> Задачи <%= link_to "+", root_url ,id: "new_btn" %> </h1>
</div>
<div class ="tab">
    <% @projects.each do |project| %>
        <div class = "col-lg-4 col-md-6">
            <div class = "proj">
                <h3> <%=project.title.upcase %> </h3>
                <hr>
                <ul type = "none">
                <% project.todos.each do |todo| %>
                    <li id=<%= todo.id %>>
                        <%= form_with model: @todo, url: '/projects/' + project.id.to_s, id: "todo" + todo.id.to_s, :method => :PATCH, local: true do |f|%>
                            <% if todo.isCompleted then %>
                                <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue" checked li_id=<%= todo.id %> >
                                    <a class = "strike"> <%= todo.text %> </a>
                                </input>
                            <% else %>
                                <input type="checkbox" class='icheck-me' data-skin="square" data-color="blue" li_id=<%= todo.id %> >
                                    <a class = "normal"> <%= todo.text %> </a>
                                </input>
                            <% end %>
                            <%= f.hidden_field(:todo_id, {:value => todo.id})%>
                        <% end %>
                    </li>
                <% end %>
                </ul>
            </div>
        </div>
    <% end %>
</div>

<div class = "glob">
    <div class = "new_t">
        <%= form_with model: @todo, url: projects_path, local: true, class: "nifty_form center", id: "form_id" do |f| %>
            <p>
                <br>
                <h3> НОВАЯ ЗАДАЧА </h3>
                <%= f.text_field(:text, {:class => 'form-control'}) %>

                <%= f.select(:project_id) do %>
                    <% @projects.each do |proj| %>
                        <%= content_tag(:option, proj.title, value: proj.id) %>
                    <% end %>
                <% end %>
            </p>

            <%= link_to "Отмена", root_url, {:id => "cancell_link", :class => 'btn btn-default'}%>
            <%= link_to "Ok", root_url , {:id => "submit_link",  :class => 'btn btn-primary'}%>

        <% end %>
    </div>
</div>
