<h1> Задачи <br> <br> </h1>

<% @projects.each do |project| %>
    <h3> <%=project.title.upcase %> </h3>
    <ul>
    <% project.todos.each do |todo| %>
        <li> <%= todo.text %> </li>
    <% end %>
    </ul>
<% end %>

<%= form_with id: "new_btn" do |f| %>
  <%= f.submit("Новая задача")%>
<% end %>

<%= form_with model: @todo, url: projects_path, local: true, class: "nifty_form", id: "form_id" do |f| %>
<p>
    <br>
    <h3> НОВАЯ ЗАДАЧА </h3>
    <%= f.text_field(:text) %>
</p>
<%= f.select(:project_id) do %>
    <% @projects.each do |proj| %>
        <%= content_tag(:option, proj.title, value: proj.id) %>
    <% end %>
<% end %>
<p>
    <%= link_to "Отмена", root_url, id: "cancell_link"%>
    <%= link_to "Ok", root_url ,id: "submit_link" %>
</p>
<% end %>
